<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}" class="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>

    {{ $style := resources.Get "css/main.css" | postCSS }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">

    <script>
      // On page load or when changing themes, best to add inline in `head` to avoid FOUC
      if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.classList.add('dark');
      } else {
        document.documentElement.classList.remove('dark')
      }
    </script>

    {{/* Add a block for page-specific styles */}}
    {{ block "styles" . }}{{ end }}
</head>
<body class="transition-colors duration-300">
{{ warnf "BASEOF.HTML | Menu Status: %v" .Site.Menus.main }}
{{ partial "header.html" . }}

<main>
    {{ block "main" . }}{{ end }}
</main>

{{ partial "footer.html" . }}

{{ $mainJS := resources.Get "js/main.js" }}
{{ $themeJS := resources.Get "js/theme.js" }}
{{ $mobileMenuJS := resources.Get "js/mobile-menu.js" }}
{{ $scripts := slice $mainJS $themeJS $mobileMenuJS | resources.Concat "js/bundle.js" }}
<script src="{{ $scripts.RelPermalink }}" defer></script>

{{/* Add a block for page-specific scripts */}}
{{ block "scripts" . }}{{ end }}
</body>
</html>