<button id="theme-toggle" type="button"
        class="theme-toggle flex items-center text-link-primary hover:bg-border/20 focus:outline-none rounded-lg text-sm p-2.5"
        title="Toggle theme" aria-label="Toggle theme">

    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="w-5 h-5" fill="currentColor"
         viewBox="0 0 32 32">
        <mask id="theme-toggle-mask">
            <rect x="0" y="0" width="32" height="32" fill="white"/>
            <circle class="theme-toggle__mask" cx="56" cy="12" r="11" fill="black"/>
        </mask>
        <circle cx="16" cy="16" r="15" mask="url(#theme-toggle-mask)"/>
    </svg>
</button>